<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.liquidlabs.android.speedtestvisualizer"
    android:versionCode="2"
    android:versionName="1.1" >

    <!-- 
    	Using ICS+ to avoid using support fragments and support ActioBar.
    	This does lose ~45% of the users who are stuck at Android 2.x release.
    	Will try to address this based on user demand and feedback.
    -->
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <!-- Permissions required by google maps -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <!-- Google maps custom permission -->
    <permission
        android:name="ca.liquidlabs.android.speedtestvisualizer.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="ca.liquidlabs.android.speedtestvisualizer.permission.MAPS_RECEIVE" />

    <!--
        Because version 2 of the Google Maps Android API requires OpenGL ES version 2, 
        you must add a <uses-feature> element as a child of the <manifest> element in AndroidManifest.xml 
    -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- Main application block -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <!--  
            Application entry point
        -->
        <activity
            android:name="ca.liquidlabs.android.speedtestvisualizer.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- 
                Intent filter for catching exported CSV data from ST app
                Learn more @ http://developer.android.com/training/sharing/receive.html 
            -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            
        </activity>
        <!--
            Application maps activity 
        -->
        <activity
            android:name="ca.liquidlabs.android.speedtestvisualizer.activities.MapperActivity"
            android:label="@string/title_activity_mapper"
            android:parentActivityName="ca.liquidlabs.android.speedtestvisualizer.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.liquidlabs.android.speedtestvisualizer.MainActivity" />
        </activity>
        
        <!--
            Application about activity 
        -->
        <activity
            android:name="ca.liquidlabs.android.speedtestvisualizer.activities.AboutAppActivity"
            android:label="@string/title_activity_about_app"
            android:parentActivityName="ca.liquidlabs.android.speedtestvisualizer.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.liquidlabs.android.speedtestvisualizer.MainActivity" />
        </activity>

        <!--
            Google Maps API key
            ====================
            NOTE: You must create your own API key for Google Maps to view map data.
            https://developers.google.com/maps/documentation/android/start#the_google_maps_api_key
        -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="your_own_api_key_here" />
        
    </application>

</manifest>